/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
}

.inner-container {
  width: 100%;
  max-width: 1000px;
  padding: 0 2rem;
  margin: 0 auto;
}

#root {
  height: 100%;
}